@font-face {
  font-family: "satoshi-regular";
  src: url("../public/fonts/Satoshi-Regular.woff2") format("woff2"),
    url("../public/fonts/Satoshi-Regular.woff") format("woff"),
    url("../public/fonts/satoshi-regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "satoshi-regular";
}

:root {
  --vibrant-coral: #f2613f;
  --lush-green: #4caf50;
  --golden-yellow: #ffc107;
  --fiery-red: #f44336;
  --light-text: #ffffff;
  --subtle-text: #b3b3b3;
  --deep-space: #1a1a1a;
  --peach-blush: #f07642;
  --soft-peach: #ffd4c2;
  --pale-gray: #ededed;
  --charcoal-gray: #333333;
}

body {
  @apply w-full bg-deepSpace text-paleGray;
}

.container {
  @apply w-full px-3 md:px-2 max-w-7xl min-[1920px]:max-w-[1620px] mx-auto;
}

.footer {
  @apply w-full divide-y divide-paleGray bg-peachBlush;
}

.celebrity--card {
  @apply w-full border border-solid border-vibrantCoral;
}

.celebrity--card .image-wrapper {
  @apply relative w-full pt-96 bg-transparent;
}

.celebrity--card .image-wrapper image {
  @apply border-none object-cover;
}

.celebrity--card .content {
  @apply p-4;
}

.pagination {
  @apply flex items-stretch gap-6;
}

.pagination .arrow-btn,
.pagination-list button ,
.pagination-list a {
  @apply min-w-7 min-h-7 max-w-7 max-h-7 border border-solid border-vibrantCoral flex items-center justify-center;
}

.pagination .arrow-btn:disabled,
.pagination-list a:disabled{
  @apply opacity-50 cursor-no-drop
}

.pagination-list {
  @apply flex items-stretch;
}

.pagination .disabled{
@apply cursor-not-allowed opacity-70 pointer-events-none
}

.pagination-list a{
  @apply min-w-7 min-h-7 max-h-7 max-w-max px-2 border-r-0;
}
.pagination-list li:nth-last-child(1) a{
  @apply  border-r
}

.pagination .arrow-btn:hover,
.pagination-list a:hover,
.pagination-list a.active{
  @apply bg-peachBlush
}